.navLinkContainer {
  width: 65%;
}

.navLinkTop {
  height: 6vh;
  width: 100%;
  float: left;
}

.navLink {
  color: white;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  font-size: 1vw;
  font-weight: bold;
}

.navLink:hover {
  cursor: pointer;
}

.container{ 
    width: 100vw;
    height: 100vh;
}


.history {
    float: left;
    width: 25%;
    height: 100vh;
    background: black;

}

.scene {
    float: left;
    height: 75vh;
    width: 75vw;
    background-image: url('../public/stars.jpeg');
}

.nav{
    display: flex;
    flex-direction: row;
    background: transparent;
  }
  
  .title{
    float: left;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 5vh;
    padding-left: 1vw;
  }
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .logo{
    font-size: 4vw;
    margin-left: 4vw;
    margin-top: 4vh;
  }