.container{ 
    width: 100vw;
    height: 100vh;
}

.history {
    float: left;
    width: 25%;
    height: 100vh;
    background: black;

}

.scene {
    float: left;
    height: 75vh;
    width: 75vw;
    background-image: url('../public/stars.jpeg');
}