.container {
  background-image: url("../public/galaxy.mov");
  height: 100%;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.scene{
  width:100vw;
  height:100vh;
}

.canvas{
  background: #000;
}

.canvas2{
  background: transparent;
}

.nav{

  display: flex;
  flex-direction: row;
  background: transparent;
}

.title{
  float: left;
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: 5vh;
  padding-left: 1vw;
}



.logo{
  font-size: 4vw;
  margin-left: 4vw;
  margin-top: 4vh;
}



.choiceWrapper{

  border-radius: 8px;
  background-color: #000;
  border-style: solid;
  border-color: #fafafa;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}
.choiceWrapper:hover{
  border-color:coral;
  color: coral;
  cursor: pointer;
}
.msgWrapper{
  display: flex;
  flex-direction: row inline;
}
.textMessageA{
  color:coral;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
}


.textMessageU{
  color: greenyellow;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;

}

.msg{
  color:white;
  padding: 7px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  overflow-wrap: break-word; 
}

.body {
  color: white;
  margin-top: 8vh;
  margin-left: 4vw;
}

.intro {
  display: flex;
  flex-direction: row;
}

.col1 {
  display: flex;
  flex-direction: column;
}
.info {
  padding-bottom: 3vh;
}

.planets {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}

.col {
  padding: 2vw;
}