.navLinkContainer {
  width: 60%;
}

.navLinkTop {
  height: 6vh;
  width: 100%;
  float: left;
}

.navLink {
  color: white;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  font-size: 1.5vw;
  font-weight: bold;
}

.navLink:hover {
  cursor: pointer;
}

.container {
  background: linear-gradient(to bottom, transparent, transparent, black, black), url("../public/imposter.mp4");
  background-repeat: repeat-x;
  height: 100%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.col2 {
  width: 100vw;
  height: 70vh;
}

.canvas {
  background: #000;
}

.canvas2 {
  background: transparent;
}

.nav{

  display: flex;
  flex-direction: row;
  background: transparent;
}


.title{
  float: left;
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: 5vh;
  padding-left: 1vw;
}


.logo {
  font-size: 4vw;
  margin-left: 4vw;
  margin-top: 4vh;
}



.choiceWrapper{

  border-radius: 8px;
  background-color: #000;
  border-style: solid;
  border-color: #fafafa;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}
.choiceWrapper:hover{
  border-color:coral;
  color: coral;
  cursor: pointer;
}
.msgWrapper{
  display: flex;
  flex-direction: row inline;
}

.textMessageA {
  color: coral;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
}


.textMessageU {
  color: greenyellow;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;

}

.msg {
  color: white;
  padding: 7px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  overflow-wrap: break-word;
}

.body {
  color: white;
  margin-top: 8vh;
  margin-left: 4vw;
}

.intro {
  display: flex;
  flex-direction: row;
  padding-bottom: 45vh;
}

.col1 {
  display: flex;
  flex-direction: column;
}

.i1 {
  font-size: 8vw;
  font-weight: bold;
}

.i2 {
  font-size: 1.5vw;
}

.info {
  padding-bottom: 3vh;
  font-size: 3vw;
  font-weight: bold;
}

.planets {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  font-size: 2vw;
  font-weight: bold;
  align-items: center;
}

.img {
  width: 20vw;
  padding-bottom: 3vh;
}

.text {
  font-size: 1vw;
  font-weight: regular;
}